<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询所有学生信息</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                学生信息管理系统
            </h3>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h3>
               查询条件
            </h3>
            <form class="form-horizontal" role="form" action="/teacher/theInfo">
                <div class="form-group">
                    <label class="col-sm-2 control-label">学号</label>
                    <div class="col-sm-10">
                        <input type="text" name="schNumber" required class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 column">
            <h3>
               系统公告
            </h3>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>
                        标题
                    </th>
                    <th>
                        发布部门
                    </th>
                    <th>
                        发布时间
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        暂时没有新的公告
                    </td>
                    <td>
                        暂时没有新的公告
                    </td>
                    <td>
                        暂时没有新的公告
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               查询结果
            </h3>
            <table class="table">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>家庭住址</th>
                    <th>父亲姓名</th>
                    <th>父亲联系方式</th>
                    <th>母亲姓名</th>
                    <th>母亲联系方式</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="info:${allInfos}">
                    <td th:text="${info.getSchNumber()}"></td>
                    <td th:text="${info.getAddress()}"></td>
                    <td th:text="${info.getFatherName()}"></td>
                    <td th:text="${info.getFatherPhone()}"></td>
                    <td th:text="${info.getMatherName()}"></td>
                    <td th:text="${info.getMatherPhone()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>