<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询我的成绩</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        语文成绩
                    </th>
                    <th>
                        数学成绩
                    </th>
                    <th>
                       英语成绩
                    </th>
                    <th>
                        考试批次
                    </th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="grade:${grades}">
                    <td th:text="${grade.getChinese()}"></td>
                    <td th:text="${grade.getMath()}"></td>
                    <td th:text="${grade.getEnglish()}"></td>
                    <td th:text="${grade.getTestNo()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>